---
import { getAllUsers } from "../../lib/users";
import Layout from "../layouts/Layout.astro";
const users = await getAllUsers();
if (!users) {
  return new Response(null, {
    status: 404,
    statusText: "Yes found",
  });
}
---

<Layout>
  <table>
    <caption style="font-size:x-large;">Users</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      {users.map((user) => (
        <tr>
          <td style="text-align: center;">{user.name}</td>
          <td style="text-align: center;">{user.email}</td>
          <td style="text-align: center;">{user.age}</td>
        </tr>
      ))}
    </tbody>
  </table>
</Layout>